{% extends 'base.html' %}
{% block content %}
<h2>Appointments</h2>
<a href="{% url 'appointment-add' %}" class="btn btn-success mb-2">Add Appointments</a>
<ul class="list-group">
    {% for appointment in object_list %}
        <li class="list-group-item"> (Doctor) {{ appointment.doctor }} - (Patient) {{ appointment.patient }} - (Date) {{ appointment.date }}</li>
        <div>
            <a href="{% url 'appointment-delete' appointment.pk %}" class="btn btn-sm btn-outline-primary">Delete</a>
            <a href="{% url 'appointment-update' appointment.pk %}" class="btn btn-sm btn-outline-primary">Edit</a>
        </div>
    {% endfor %}
</ul>
<a href="{% url 'home' %}" class="btn btn-sm btn-outline-primary">Back</a>

{% endblock %}