{% extends 'base.html' %}

{% block content %}

<div class="container my-4">
    <h2 class="mb-4">Doctor</h2>
    <a href="{% url 'doctor-add' %}" class="btn btn-primary mb-3">Add Doctor</a>

    <ul class="list-group mb-3">
        {% for doctor in doctor_list %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{% url 'doctor-detail' doctor.pk %}" class="btn btn-outline-secondary btn-sm">View Doctor</a>
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'home' %}" class="btn btn-outline-primary btn-sm">Back</a>
</div>

{% endblock %}
