{% extends 'base.html' %}
{% block content %}

<div class="d-flex justify-content-end mb-2">
  {% if user.is_authenticated %}
      <div class="d-flex align-items-center">
          <span class="me-3">Hi, {{ user.username }}!</span>
          <form action="{% url 'logout' %}" method="post" class="d-inline">
              {% csrf_token %}
              <button type="submit" class="btn btn-outline-danger btn-sm">Log Out</button>
          </form>
      </div>
  {% else %}
      <a href="{% url 'login' %}" class="btn btn-outline-primary btn-sm">Log In</a>
  {% endif %}
</div>

<!-- Centered heading -->
<div class="text-center mb-4">
  <h3>Welcome</h3>
</div>


<div class="text-center">
    <a href="{% url 'doctor-list' %}" class="btn btn-success btn-lg m-2">Doctors</a>
    <a href="{% url 'appointment-list'%}" class="btn btn-info btn-lg m-2">Appointments</a>
    <a href="{% url 'patient-list' %}" class="btn btn-warning btn-lg m-2">Patients</a>
</div>

{% endblock %}
